@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSansWeb.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSansWeb.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSansWebBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSansWebBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSansWebBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSansWebBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
